<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Word Counter!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
    <h1>Play with the word counter! It will count how many times a word shows up in a sentence</h1>
    <form action="/countwords" method="post">
        <label for="word">The Word</label>
        <input id="word" name="word" type="text">
        <label for="sentence">The Sentence</label>
        <input id="sentence" name="sentence" type="text">
        <button type="submit">Go!</button>
    </form>
</body>
</html>