<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>result</title>
</head>
<body>
    <h1>Here are your results</h1>
    <p>I found the word @Model.GetResult() time(s) in your sentence.</p>
</body>
</html>